.button {
	position: absolute;
	width: 100px;
	height: 60px;
	background-color: #23a;
	border-radius: 12px;
}

.text {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}